<!DOCTYPE html>
<html>
<head>
  <title>아이디어 앱</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link rel="stylesheet" href="http://railsgirls.com/assets/bootstrap.css">
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
	    <div class="container">
	      <a class="brand" href="/">아이디어 앱</a>
	      <ul class="nav">
	        <li class="active"><a href="/ideas">아이디어 리스트</a></li>
	      </ul>
	    </div>
	  </div>
	</div>

	<div class="container">
	<%= yield %>
	</div>

	<footer>
	  <div class="container">
	    Geekerati 2013 taught by Rails Girls 2013
	  </div>
	</footer>
</body>
</html>
